<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <nav style="padding-top: 20px; padding-bottom: 20px;">
      <h2 class="inactive underlineHover" routerLink='/Login' routerLinkActive='active'> Sign In </h2>
      <h2 class="active">Sign Up </h2>
    </nav>
    

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form>
        <input type="text" id="FirstName" class="fadeIn second" name="signUp" placeholder="First Name">
        <input type="text" id="LastName" class="fadeIn second" name="signUp" placeholder="Last Name">
        <input type="text" id="Email" class="fadeIn second" name="signUp" placeholder="Email">
        <input type="text" id="PhoneNumber" class="fadeIn second" name="signUp" placeholder="Phone Number">
        <input type="password" id="Password" class="fadeIn third" name="signUp" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>