<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <nav style="padding-top: 20px; padding-bottom: 20px;">
      <h2 class="inactive underlineHover" routerLink='/Login' routerLinkActive='active'> Sign In </h2>
      <h2 class="active">Sign Up </h2>
    </nav>
    

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form #RegForm="ngForm" (ngSubmit)="register(RegForm)">
        <input type="text" id="FirstName" class="fadeIn second" name="fname" placeholder="First Name" ngModel required>
        <input type="text" id="LastName" class="fadeIn second" name="lname" placeholder="Last Name" ngModel required>
        <input type="text" id="Email" class="fadeIn second" name="email" placeholder="Email" ngModel required>
        <input type="text" id="PhoneNumber" class="fadeIn second" name="phone" placeholder="Phone Number" ngModel required>
        <input type="password" id="Password" class="fadeIn third" name="password" placeholder="Password" ngModel required>
        <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>