
<div class="wrapper fadeInDown">
  
  <div id="formContent"> 
    <!-- Tabs Titles -->
    
    <nav style="padding-top: 20px; padding-bottom: 20px;">
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" routerLink='/Register' routerLinkActive='active'>Sign Up </h2>
    </nav>
    

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)">
      <input type="text" id="Email" class="fadeIn second" name="email" placeholder="Email" ngModel required >
      <input type="text" id="Password" class="fadeIn third" name="password" placeholder="Password" ngModel required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
     <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
