<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
    <nav style="padding-top: 20px; padding-bottom: 20px;">
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" routerLink='/RegPage' routerLinkActive='active'>Sign Up </h2>
    </nav>
    

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="Email" class="fadeIn second" name="login" placeholder="Email">
      <input type="password" id="Password" class="fadeIn third" name="login" placeholder="Password">
      <input routerLink='/ImagePage' routerLinkActive='active' type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>